<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= data[:title] %></title>
    <link rel="stylesheet" href="css/recot.css">
    <link rel="stylesheet" href="css/theme/<%= data[:theme] %>.css">
    <script type="text/javascript" src="/__rack/livereload.js"></script>
  </head>
  <body>
    <div id="header">
      <p><%= data[:title] %> Project Evidence lists by Recot.</p>
    </div>
    <h4>Evidences</h4>
    <hr>
    <div id="content">
      <div class="lists">
<% data[:resources].each do |res| -%>
        <div class="item">
          <a href="<%= res %>">No. <%= File.basename(res, ".*") %></a>
        </div>
        <hr>
<% end -%>
      </div>
    </div>
    <footer id="footer">
      <div class="information">
        This document was created by Recot ver <%= data[:version] %>.
      </div>
      <div class="copyright">
        <hr>
        Recot 2016 © Slowhand0309.
      </div>
    </footer>
  </body>
</html>
