<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= data[:title] %></title>
    <link rel="stylesheet" href="../css/recot.css">
    <link rel="stylesheet" href="../css/theme/<%= data[:theme] %>.css">
    <link rel="stylesheet" href="../css/lightbox.min.css">
  </head>
  <body>
    <div id="header">
      <p><%= data[:title] %> Evidences.</p>
    </div>
    <div class="navigate">
      <div class="btn">
        <a href="javascript:history.back();">Back</a>
      </div>
    </div>
    <div id="content">
      <div class="evidences">
<% data[:files].each do |file| -%>
        <div class="evidence">
<% case File.extname(file) -%>
<% when /(jpe*g|png|gif|bmp)/i -%>
          <div class="image">
            <h4><%= File.basename(file) %></h4>
            <a href="<%= file %>" data-lightbox="<%= File.basename(file, ".*") %>" data-title="<%= File.basename(file) %>">
              <img class="evidence_img" border="0" src="<%= file %>" width="256" height="256">
            </a>
          </div>
<% else -%>
            <div class="text">
              <h4><%= File.basename(file) %></h4>
              <pre><%= File.read("#{Recot.resources_dir}/#{file}") %></pre>
            </div>
<% end -%>
            <div class="detail">
              <ul>
                <li>File Name:</li>
                <p><%= File.basename(file, ".*") %></p>
                <li>File Type:</li>
                <p><%= File.extname(file).gsub(".", "") %></p>
                <li>Created At:</li>
                <p><%= File.mtime("#{Recot.resources_dir}/#{file}") %></p>
                <li>Updated At:</li>
                <p><%= File.ctime("#{Recot.resources_dir}/#{file}") %></p>
              </ul>
            </div>
          </div>
        </div>
        <hr>
<% end -%>
      </div>
    </div>
    <footer id="footer">
      <div class="information">
        This document was created by Recot ver <%= data[:version] %>.
      </div>
      <div class="copyright">
        <hr>
        Recot 2016 © Slowhand0309.
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="../js/lightbox.min.js"></script>
</html>
